.container-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bg-gradient-info {
  background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}


.container-flex-min-height {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 85vh;
}

.container-min-height {
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 88vh;
}
